@*
    Screen:         Form/Index
    Description:    Displays interface to access all aspects of Form management.
                    Only the administrator user has access to every form.
                    A normal user can only view their forms.
    Input:          (IQueryable<Form>) Model.
                        List of all Forms the current user has access to in the system.
    Output:         GET: Form/Delete
                    GET: Form/Create
                    GET: Form/Edit
                    GET: Form/Copy
*@
@model IEnumerable<HOST_Admin.Models.Form>
@{
    ViewBag.Title = "Index";
}
<div id = "form-index-outer">
<div class="header ui-widget-header ui-corner-top">Form Management</div>
<div id ="form-index" class="ui-corner-bottom ui-widget-content ui-widget">
<table id="form-index-table">
    <thead>
    <tr>
        <th> Group </th>
        <th> Name  </th>
        <th> Description </th>
        <th> Date Created</th>
        <th> Active </th>
        <th></th>
    </tr>
    </thead>
        <tbody>
@* Loop through each Form to create a row in the table *@
@foreach (var item in Model.OrderBy(p => p.DateCreated)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @item.DateCreated.Value.ToShortDateString()
        </td>
        <td>
            @if (item.Active == false)
            {
                <text>inactive</text>
            }
            else
            {
                <text>active</text>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FormId })&nbsp;|&nbsp;@Html.ActionLink("Delete", "Delete", new { id = item.FormId }, new { @class = "form-btn-delete" })&nbsp;|&nbsp;@Html.ActionLink("Copy", "Copy", new { id = item.FormId })
        </td>
    </tr>
}
    </tbody>
</table>

</div>
@Html.ActionLink("Create New", "Create", null,  new { id = "btn-create" })
</div>

@* Dialog pop-up to confirm delete action. *@
<div id="form-delete-confirm" title="Delete this form?" class="dialog">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>This form will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

@* JQuery *@
@section Scripts {
<script>
    $(function () {
        $("a[id=btn-create]").button();
        $("a[id=btn-log-out]").button();

        //set up table with custom css / sortable columns / default sorting
        $("#form-index-table").dataTable({
            "bJQueryUI": true,
            "bPaginate": false,
            "aaSorting": [[4, "asc"], [0, "asc"], [1, "asc"]],
            "aoColumns": [
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": false}]
        });

        //dialog settings
        $("#form-delete-confirm").dialog({
            autoOpen: false,
            resizable: false,
            //height: 140,
            modal: true
        });

        //set up click event for each delete button
        $(".form-btn-delete").each(function () {
            $(this).click(function (e) {
                e.preventDefault();
                var href = $(this).attr("href");
                $("#form-delete-confirm").dialog('option', 'buttons', {
                    "Delete Form": function () {
                        window.location.href = href;
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                });
                $("#form-delete-confirm").dialog("open");
            });
        });
    });
</script>
}
