@model OST_Admin.Models.Form

@{
    ViewBag.Title = "Edit Form";
    int fid = ViewBag.formId;
}
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div id ="form-editor-outer">
        <div>
            @Html.ActionLink("Back to List", "Index", null, new { id = "Back" })
        </div>
    <div id="form-editor" class="ui-corner-all ui-widget-content ui-widget">
        @Html.HiddenFor(model => model.FormId)
        @Html.HiddenFor(model => model.Deleted)
        @Html.HiddenFor(model => model.Content)
        @Html.HiddenFor(model => model.DateCreated)


        <div id="form-title">
            <input id="Name" class="text-box single-line" type="text" value="@Model.Name" name="Name"/>
        </div>
        <div id="form-descrip">
            <input id="Description" class="text-box single-line" type="text" value="@Model.Description" name="Description"/>
        </div>

         <table id="form-editor-meta-table">
            <tr>
                <td> SharePoint URL </td>
                <td>
                    <div id="form-url">
                        <input id="URL" class="text-box single-line" type="text" value="@Model.URL" name="URL"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Auto Update</td>
                <td>
                    @{
                        <div id="AutoUpdateButtonSet">
                        @if (Model.AutoUpdate == true)
                        {
                            <input type="radio" id="AutoUpdate1" name="AutoUpdate" value="true" checked="checked"/><label for="AutoUpdate1">True</label>
                            <input type="radio" id="AutoUpdate2" name="AutoUpdate" value="false" /><label for="AutoUpdate2">False</label>
                        }
                        else
                        {
                            <input type="radio" id="AutoUpdate1" name="AutoUpdate" value="true" /><label for="AutoUpdate1">True</label>
                            <input type="radio" id="AutoUpdate2" name="AutoUpdate" value="false" checked="checked"/><label for="AutoUpdate2">False</label>
                        }
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>

       <input type="submit" id="Save" value="Save Form" />

       @Ajax.ActionLink("Add a Text Question", "AddQuestion", new { formId = fid, type = "Text" }, new AjaxOptions { UpdateTargetId = "QuestionTabOuter", InsertionMode = InsertionMode.Replace, OnBegin = "$('#QuestionTabInner').hide();" })
       @Ajax.ActionLink("Add a Choice Question", "AddQuestion", new { formId = fid, type = "Choice" }, new AjaxOptions { UpdateTargetId = "QuestionTabOuter", InsertionMode = InsertionMode.Replace , OnBegin = "$('#QuestionTabInner').hide();"})
       @Ajax.ActionLink("Add a Likert Question", "AddQuestion", new { formId = fid, type = "Likert" }, new AjaxOptions { UpdateTargetId = "QuestionTabOuter", InsertionMode = InsertionMode.Replace, OnBegin = "$('#QuestionTabInner').hide();"})
<br />      
            <div id="QuestionTabOuter">

                @Html.Partial("_QuestionList", Model.Questions)

            </div>
        
<br />
</div>

}


@section Scripts {

<script>


    $(function () {
        $("#QuestionTabInner").livequery(function () {
            SetUpTabs();
            $('#QuestionTabInner').tabs({ active: $('#TabOpen').attr('value') });
            $("input[type=submit],  a[data-ajax=true][id!='option-delete-button'][id!='option-add-button'], button").button();
            //$("input[type=submit], a[id!='option-delete-button'], button").button();
            //$('#option-delete-button').button({ icons: { primary: "ui-icon-minusthick"} });
            $("#Back").button();
            $('#QuestionTabInner').show();
        });

        $("#AutoUpdateButtonSet").livequery(function () {
            $(this).buttonset();
        });
        $("div[class*=OtherSet]").livequery(function (event) {
            $(this).buttonset();
        });

        $("#QuestionTabInner").show();
        $(document).ajaxComplete(function () {
            //$('#QuestionTabInner').show();
            //alert('test');
        });
    });



        function SetUpTabs()
        {

        var $tabs = $('#QuestionTabInner').tabs();

        $(".ui-tabs-panel").each(function (i) {

            var totalSize = $(".ui-tabs-panel").size() - 1;

            if (i != totalSize) {
                next = i + 1;
                $(this).append("<a href='#' class='next-tab mover' rel='" + next + "'>Next Question &#187;</a>");
            }

            if (i != 0) {
                prev = i - 1;
                $(this).append("<a href='#' class='prev-tab mover' rel='" + prev + "'>&#171; Prev Question</a>");
            }

        });

        $('.next-tab, .prev-tab').click(function () {
            $tabs.tabs({ active: $(this).attr("rel") });
            return false;
        });

             
        }

</script>
}
